.text-primary{
    font-family: "Karla";
    color: #444444;
}

.text-header{
    font-size: 32px;
    font-weight: bold;
}

.text-body{
    font-size: 22px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.flex-center{
    width: 100%;
    display: flex;
}

.flex-center > div{
    min-width: 0;
}

.label-main{
    padding: 0px 15px 0px 15px;
}

.label-input{
    font-size: 32px;
    color: #34495e;
    font-weight: bold;
}