.text-primary{
    font-family: "Karla";
    color: #444444;
}

.text-secondary{
    font-family: "Karla";
    color: #34495e;
}

.text-header{
    font-size: 32px;
    font-weight: bold;
}

.text-body{
    font-size: 22px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.flex-center{
    width: 100%;
    display: flex;
}

.flex-center > div{
    min-width: 0;
}

.label-main{
    padding: 0px 15px 0px 15px;
}

.label-input{
    font-size: 32px;
    color: #34495e;
    font-weight: bold;
}

.label-input-standart{
    width: calc(90% - 47px);
    display: flex;
    align-items: flex-end;
    text-align: left;
}

.label-inputicon{
    width: 32px;
    height: 60px;
    color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin: 0px 15px 0px 0px;
    text-decoration: none;
}